.holypara{
    color: rgb(9, 218, 200);
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
}
.degree{
    text-decoration: overline;
}
.aboutspan{
    color: rgb(9, 123, 216);
}
h4.h4{
    color: white;
    
}